---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/sections/About.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import ThemeIcon from '@/components/ThemeIcon.astro';
import LanguageSelector from '@/components/LanguageSelector.astro';

import cvData from '../../../cv.en.json';
const { basics } = cvData;
const { name, label, summary } = basics;
---

<Layout 
	title={`CV of ${name} - ${label}`} 
	description={summary}
	lang="en"
	basics={basics}
>

	<header class="no-print">
	<nav>
		<LanguageSelector />
		<ThemeIcon />
	</nav>
	</header>

	<main>
		<Hero lang="en" />
		<About lang="en" />
		<Experience lang="en" />
		<Education lang="en" />
		<Projects lang="en" />
		<Skills lang="en" />
	</main>


	<KeyboardManager /> 
</Layout>

<style>
	header {
		padding: 1rem 2rem;
		display: flex;
		justify-content: flex-end;
		gap: 1rem;
	}

	nav {
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	main {
		padding: 2rem;
		margin: auto;
		width: 100%;
	}
	
</style>
